body {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  gap: 3rem;
  justify-items: center;
  align-items: center;
  font-size: 1.25rem;
  font-family: 'Libre Franklin', sans-serif;
}

img {
  display: block;
}

header, main, footer {
  width: 90%;
}