@use "../utils/colors" as color;

main {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  color: color.$Gray;
  text-align: center;

  .main__title {
    margin-top: 0;
    font-weight: 300;
    font-size: 1.5rem;
  }

  .main__subtitle {
    font-size: 1rem;
    font-weight: 300;
    color: color.$Very-Dark-Blue;
    margin-bottom: 2rem;
  }

  .mark{
    font-weight: bold;
    color: color.$Very-Dark-Blue;
  }

  .form {
    width: 90%;
    margin: 0 auto;

    .input__container {
      border: none;
      margin: 0;
      padding: 0;
    }

    .input {
      display: block;
      width: calc(100% - 1rem);
      padding: 0.7rem 0.5rem;
      margin-bottom: 1rem;
      border: 1px solid color.$Blue;
      border-radius: 1.5rem;
      font-size: 1rem;
    }

    .input:focus:invalid {
      border: 1px solid color.$Light-Red;
    }
    
    .error__message {
      display: none;
      margin: 1rem 0;
      font-size: 1rem;
    }

    .active {
      display: block;
      color: color.$Light-Red;
    }
  }

  .btn__submit {
    width: 100%;
    padding: 0.7rem 0;
    margin-bottom: 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 1.5rem;
    background-color: color.$Blue;
    color: color.$White;
  }

  .illustration-dashboard {
    width: 100%;
    height: 100%;
    margin-top: 4rem;
  }
}

@media screen and (min-width: 1024px) {
  
  main {

    .main__title {
      font-size: 2rem;
    }

    .form {
      display: flex;
      justify-content: space-around;
      margin-bottom: 2rem;

      .input__container {
        width: 60%;
      }

      .btn__submit {
        width: 35%;
        height: 2.713rem;
      }

      .btn__submit:hover {
        cursor: pointer;
        filter: brightness(110%);
      }
    }
    .illustration-dashboard {
      margin: 0 auto;
      width: 90%;
    }
  }
}