@use "../utils/colors" as color;

footer {
  margin-top: 2rem;
  grid-column: 1 / 2;
  grid-row: 3 / 4;

  .social__media-container {

    .social__media {
      width: 70%;
      margin: 0 auto;
      display: flex;
      justify-content: space-evenly;
      color: color.$Blue;
    }

    .icon {
      width: 30px;
      height: 30px;
      padding: 5px;
      border: 1px solid color.$Pale-Blue;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: color.$Blue;
      text-decoration: none;
    }

    .icon:hover {
      background-color: color.$Blue;
      color: color.$White;
    }

    .copy {
      margin-top: 2rem;
      text-align: center;
      font-size: 1rem;
      color: color.$Gray;
    }
  }

  .attribution {
    font-size: 1rem;
    text-align: center;
  }
}